<form class="row mb-3 mx-3" [formGroup]="purchaseForm">
    <div class="col-12 mt-2">
        <h3 *ngIf="id > 0; else elseTemplate">Исправить данные о покупке</h3>
        <ng-template #elseTemplate>
            <h3>Добавить покупку</h3>
        </ng-template>
    </div>
    <div class="col-md-3 my-1 col-12">
        <input type="text" class="form-control" placeholder="Название" formControlName="name">
    </div>
    <div class="col-md-3 mt-1 mb-2 col-12">
        <input type="text" class="form-control" placeholder="Количество" formControlName="amount">
    </div>
    <div class="col-md-3 my-1 mb-2 col-12" *ngIf="id > 0">
        <select class="custom-select" formControlName="status">
            <option [ngValue]="true">Куплено</option>
            <option [ngValue]="false">Не куплено</option>
        </select>
    </div>
    <div class="col-12" *ngIf="purchaseForm.invalid">
        <p [style.color]="'red'">Ошибка: поле не заполнено или заполнено не тем</p>
    </div>
    <div class="col-md-7 col-12">
        <button type="button" class="btn btn-primary col-md-3 col-12 mr-2"[disabled]="purchaseForm.invalid" (click)="onSave()">Сохранить</button>
        <button type="button" class="btn btn-danger col-md-3 col-12" *ngIf="id > 0" (click)="onDelete()">Удалить</button>
    </div>
</form>